extends ../base
include ../inc/mixins
  
append base-content
  br
  .container
    block admin-content

append extra-top
  - const isAdmin = true

append title 
  | Администрирование

append navbar-brand
  +fa.fa-cogs
  if adminRoot
    .navbar-brand Администрирование
  else
    a.navbar-brand(href='/admin/') Администрирование

append navbar-left-items
  ul.navbar-nav
    li.nav-item
      a.nav-link(href='/') Основной сайт
