extends ../base
include ../inc/mixins
  

append base-content
  br
  .container.text-center
    if locals.questions.length
      h1=`Опрос для магазина "${locals.currentShop.name}"`
      br
      #survey-app(v-cloak)
        div(v-if='!done')
          p {{ counter + 1 }} из {{ questions.length }}
          p {{ questions[counter].title }}
          br
          button.btn.btn-danger(type='button', @click='answer(1)')
            +fa.fa-thumbs-down
            | 1
          |  
          button.btn.btn-warning(type='button', @click='answer(2)') 
            | 2
          |  
          button.btn.btn-success(type='button', @click='answer(3)')
            +fa.fa-thumbs-up
            | 3
        div(v-if='done')
          h2 Спасибо!
    else
      h1=`Магазин "${locals.currentShop.name}"`
      p Для Вас нет новых вопросов.
      
append extra-top
  if locals.questions.length
    script.
      //<![CDATA[

      var questions = !{JSON.stringify(locals.questions)};
      var currentShopId = !{locals.currentShop.id};
      
      window.onload = function () {
        var app = new Vue({
          el: '#survey-app',
          data: {
            questions: questions,
            counter: 0,
            done: false,
            current_shop_id: currentShopId
          },
          methods: {
            answer: function (score) {
              var question = this.questions[this.counter];
              question.answer = score;
              if (this.counter < this.questions.length - 1) {
                this.counter++;
              } else {
                this.done = true;
              }
              $.ajax({
                url: '/survey/answer/' + this.current_shop_id + '/' + question.id,
                method: 'post',
                data: {score: score}
              })
            }
          }
        });
      }
      //]]> 


append title
  =locals.currentShop.name
      
append navbar-brand
  +fa.fa-shopping-cart
  =locals.currentShop.name

append navbar-left-items
  ul.navbar-nav
    li.nav-item.dropdown
      a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Магазины
      .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
        each shop in locals.shops
          a.dropdown-item(href='/' + shop.slug class={active: shop.id === locals.currentShop.id})=shop.name
