@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$ico-spacer: ($spacer / 6);

h1 {font-size: 1.75rem}
h2 {font-size: 1.5rem}
h3 {font-size: 1.25rem}
h4, h5, h6 {font-size: 1rem}

body {
  margin-bottom: 3rem;
}

a {
  i.fa {
    margin-right: $ico-spacer;
  }
}

#admin-app {
  .sort-q {
    background-color: $gray-lighter;
    margin: 0 0 0.4rem 0;
    padding: 0.4rem;
  }
}
