doctype html
include inc/mixins
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/all.css')
    style [v-cloak] { display: none; }
    if locals.vendorsMinVersions
      script(src='/vendors/vue/vue.min.js')
    else
      script(src='/vendors/vue/vue.js')
    block extra-top
    title
      block title
      |  | Shop-Survey
  body
    nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', 
                                                 data-toggle='collapse', 
                                                 data-target='#navbarNavDropdown', 
                                                 aria-controls='navbarNavDropdown', 
                                                 aria-expanded='false', 
                                                 aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .navbar-brand
        block navbar-brand
      #navbarNavDropdown.collapse.navbar-collapse
        block navbar-left-items
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button')
              if locals.member.is_admin
                +fa.fa-user-md
              else
                +fa.fa-user
              =locals.member.email
            .dropdown-menu
              if locals.member.is_admin
                a.dropdown-item(href='/admin' class={active: isAdmin})
                  +fa.fa-cogs
                  | Админ
              a.dropdown-item(href='/logout')
                +fa.fa-sign-out
                | Выход
    block base-content
    script(src='/vendors/jquery/jquery.min.js')
    script(src='/vendors/tether/js/tether.min.js')
    script(src='/vendors/bootstrap/js/bootstrap.min.js')
    block extra-bottom
    if templateDebug
      script.
        var __locals = !{JSON.stringify(locals, null, '\t')};
