doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/vendors/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/login.css")
    lik(rel="icon", href="/favicon.ico")
    title Shop-Survey
  body
    .container
      form.form-signin(method="POST", action=".")
        label.sr-only(for="inputEmail") Адрес email
        input.form-control#inputEmail(name="email" type="email", placeholder="email", required, autofocus)
        label.sr-only(for="inputPassword") Пароль
        input.form-control#inputPassword(name="password" type="password" placeholder="пароль" required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit") войти
