extends ../admin
include ../../inc/mixins

append admin-content
  #question-app(v-cloak)
    h1(v-if='!formDisplay') Вопрос "{{ question.title }}"
    form(v-if='formDisplay', @submit.prevent='sendForm')
      .form-group(:class='{"has-danger": error}')
        textarea.form-control(
          rows='3'
          v-model='input',
          :class='{"form-control-danger": error}',
          @input='resetError')
      .form-group(v-if='formDisplay')
        .btn-group
          button.btn.btn-primary(type='submit')
            +fa.fa-floppy-o
            | Сохранить
          button.btn.btn-secondary(type='button', @click='formToggle')
            +fa.fa-ban
            | Отмена
    form(method='post' action=`/admin/${locals.question.id}/delete` v-if='!formDisplay', @submit='confirmRm')
      br
      .form-group
        .btn-group
          button.btn.btn-warning(type='button', @click='formToggle', :class='{active: formDisplay}')
            +fa.fa-pencil-square-o
            | Редактировать
          button.btn.btn-danger(type='submit')
            +fa.fa-trash
            | Удалить
  if locals.answers.totalSum
    h2 Статистика ответов
    h3 Все магазины
    div Всего:  
      b=locals.answers.totalSum
    each i in locals.answers.total
      div
        ='Оценка "' + i.score + '": '   
        b=i.count
  else
    p.lead.text-muted На этот вопрос пока никто не отвечал.


append extra-top
  script.
    //<![CDATA[

    var question = !{JSON.stringify(locals.question)};
    var questionTitleInInput = !{JSON.stringify(locals.question.title)};
    var questionTitlePrevious = !{JSON.stringify(locals.question.title)};
    var answersCount = !{locals.answers.totalSum};
    
    window.onload = function () {
      var questionApp = new Vue({
        el: '#question-app',
        data: {
          question: question,
          input: questionTitleInInput,
          formDisplay: false,
          error: '',
          oldTitle: questionTitlePrevious,
          answersCount: answersCount
        },
        methods: {
          confirmRm: function (event) {
            if (!confirm('Удалить вопрос "' + this.question.title + '"?')) {
              event.preventDefault();
            } else if (this.answersCount) {
              if (!confirm('На вопрос есть ответы: ' + this.answersCount + ' шт. Все равно удалить вместе со всеми ответами?')) {
                event.preventDefault();
              }
            }
          },
          resetError: function () {
            this.error = '';
          },
          formToggle: function () {
            this.input = this.input.trim();
            this.formDisplay = !this.formDisplay;
          },
          sendForm: function () {
            this.input = this.input.trim();
            if (!this.input) {
              return;
            }
            var self = this;
            $.ajax({
              url: '/admin/' + self.question.id,
              method: 'put',
              data: {title: this.input}
            }).done(function (updatedQuestion) {
              self.question = updatedQuestion;
              self.formDisplay = false;
              document.title = document.title.replace(self.oldTitle, updatedQuestion.title);
              self.oldTitle = updatedQuestion.title;
            });
          }
        }
      });
    }
    //]]> 

prepend title
  =`Вопрос "${locals.question.title}" | `  
