extends ../admin
include ../../inc/mixins
  
append admin-content
  #add-app(v-cloak)
    .row
      .col-md-8
        h1.ml-auto Список вопросов
      .col-md-4
        .float-md-right
          .btn-group
            button.btn.btn-success(type='button', @click='formToggle', :class='{active: formDisplay}')
              +fa.fa-plus-square
              | Добавить
            button.btn.btn-secondary(type='button', 
                                    @click='sortToggle', 
                                    :class='{active: sortMode}' 
                                    v-if='questions.length > 1')
              +fa.fa-arrows-v
              | Сортировать
    form(method='post' v-show='formDisplay', @submit.prevent='sendForm')
      br
      .form-group(:class='{"has-danger": error}')
        textarea.form-control(
          rows='3'
          placeholder='Текст вопроса'
          v-model='input',
          :class='{"form-control-danger": error}',
          @input='resetError')
        .form-control-feedback(v-if='error') {{ error }}
      .form-group
        .btn-group
          button.btn.btn-primary(type='submit', :class='{disabled: !this.input.trim()}')
            +fa.fa-floppy-o
            | Сохранить
          button.btn.btn-secondary(type='button', @click='formToggle')
            +fa.fa-ban
            | Отмена
  br
  #admin-app(v-cloak)
    div(v-if='questions.length')
      div(v-show='sortMode')
        p 
          +fa.fa-info-circle
          | Режим сортировки. Просто перетаскивайте вопросы на нужные позиции.
        draggable(:list='questions', @end='saveSorting')
          div.sort-q(v-for='(q, i) in questions')
            b {{ i + 1 }}.   
            | {{ q.title }}    
      table.table.table-hover(v-show='!sortMode')
        thead.thead-default
          tr
            th.hidden-xs-down #
            th Вопрос
            th.hidden-xs-down Ответы
        tbody
          tr(v-for='(q, i) in questions')
            th.hidden-xs-down.text-nowrap(scope='row')
              | {{ i + 1 }}.   
            td
              a(:href="'/admin/' + q.id") {{ q.title }}
            td.hidden-xs-down {{ q.answers_count }}
    p.lead.text-muted(v-if='!questions.length').
      Список вопросов пуст
    
append extra-top
  script(src='/vendors/sortablejs/Sortable.min.js')
  script(src='/vendors/vuedraggable/vuedraggable.js')
  script.
    //<![CDATA[
    
    var questions = !{JSON.stringify(locals.questions)};

    window.onload = function () {
      var addApp = new Vue({
        el: '#add-app',
        data: {
          formDisplay: false,
          sortMode: false,
          input: '',
          error: '',
          questions: questions
        },
        methods: {
          resetError: function () {
            this.error = '';
          },
          formToggle: function () {
            this.input = this.input.trim();
            this.formDisplay = !this.formDisplay;
            if (this.formDisplay && this.sortMode) {
              this.sortToggle();
            }
          },
          sortToggle: function () {
            this.sortMode = !this.sortMode;
            if (this.sortMode && this.formDisplay) {
              this.formToggle();
            }
          },
          sendForm: function () {
            this.input = this.input.trim();
            if (!this.input) {
              return;
            }
            var self = this;
            $.ajax({
              url: '/admin/',
              method: 'post',
              data: {title: this.input},
              statusCode: {
                409: function () {
                  self.error = 'Такой вопрос уже есть';
                }
              }
            }).done(function (newQuestion) {
              newQuestion.answers_count = 0
              self.questions.unshift(newQuestion);
              self.input = '';
              self.formDisplay = false;
            });
          }
        }
      })

      var adminApp = new Vue({
        el: '#admin-app',
        data: {
          questions: questions
        },
        computed: {
          sortMode: function() {
            return addApp.sortMode;
          }
        },
        methods: {
          saveSorting: function () {
            var ids = [];
            for (i = 0; i < this.questions.length; i++) {
              ids.push(this.questions[i].id);
            }
            $.ajax({
              url: '/admin/sort/',
              method: 'put',
              data: {sort: JSON.stringify(ids)}
            });
          }
        }
      });
    }
    //]]>
    
append extra-top
  - const adminRoot = true;
